section.galery {
    width: 100%;
    max-width: 80rem;
    padding: 2.5 2rem;
    margin-inline: auto;

   & header {
    text-align: center;
    padding-top: 5rem;
   }

    & header span {
        font: 500 var(--text-sm)/ 1.5 "Montserrat";
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .content {
        margin-top: 2rem;
        display: grid;
        grid-template-areas: 
        "A B B"
        "C C D";

        gap: 2.5rem;
    }

    & figure {
        border-radius: 2.5rem;
        overflow: hidden;
        position: relative;
        line-height: 0;

        animation: image-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 300px;

        &[data-delay] {
            animation-range: 150px 350px;
        }

        & > img {
            height: 25rem;
            object-fit: cover;
            transition: scale 500ms;
        }

        &:hover {
            & > img {
                scale: 1.1;
            }

            & figcaption {
                transform: translateY(0);
            }
        }

        &:nth-child(1) {
            grid-area: A;
        }

        &:nth-child(2) {
            grid-area: B;
        }

        &:nth-child(3) {
            grid-area: C;
        }

        &:nth-child(4) {
            grid-area: D;
        }
    }

    & figcaption {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;

        font: 500 var(--text-sm)/1.5 var(--font-family2);
        color: white;

        position: absolute;
        bottom: 0;
        width: 100%;

        transform: translateY(100%);
        transition: transform 500ms;

        padding: 1.5rem 2rem;

        background: linear-gradient(
            to top,
            rgb( 0 0 0 / 0.64),
            rgb(0 0 0 / 0)
        );

        & > img {
        width: 2rem;
    }
    }
}

@keyframes image-appear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
}