@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --snitap-sun: #FFCD1E;
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    --snitap-leaf-mid: #16A34A;

    --text: #000000;
    --highlights: #000000;
    --background: #FAFAFA;

    --font-family1: "Syne", sans-serif;
    --font-family2: "Montserrat", sans-serif;

    --heading1: 700 4rem/1.25 var(--font-family1);
    --heading2: 700 2.5rem/1.2 var(--font-family1);

    --buttom-label: 500 1rem/1.5 var(--font-family2);
    --span: 500 0.875rem/1.5 var(--font-family2);
}

a {
    color: inherit;
    text-decoration: none;
}













